<section class="my-3">
    <div class="container">
        <div class="row">
            <h3 class="">Add Item</h3>
            <div>{{msgCheck}}</div>
            <form class="my-2 py-2" method="POST" [formGroup]="itemData" (ngSubmit)='addItem()' autocomplete="off" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="cat_id" class="form-label">Category name :</label>
                    <select formControlName='cat_id' class="form-control" id="cat_id">
                        <option value="" disabled>Select cats</option>
                        <option *ngFor="let cat of category" [value]="cat._id">{{cat.catName}}</option>
                    </select>
                </div>
               
                <div class="mb-3" formGroupName="offer_item">
                    <div class="mb-3 form-check">
                        <input type="checkbox"  class="form-check-input" id="offerStatus" />
                        <label class="form-check-label" for="offerStatus">offer Status</label>
                    </div>
                    <div class="mb-3">
                        <label for="newPrice" class="form-label">new price :</label>
                        <input type="number" formControlName='newPrice' class="form-control" id="newPrice" />
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description :</label>
                        <textarea formControlName='desc' class="form-control" id="description"></textarea>
                    </div>
                   
                </div>
                <button type="submit" class="btn btn-primary">Add Item</button>
            </form>
        </div>
    </div>
</section>